body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    overflow-x: auto;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 100%;
}

.image-wrapper img {
    cursor: pointer;
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    margin: 0 10px;
}
